@charset "UTF-8";
h1{
  text-align: center;
  margin-top: 230px;
  font-size : 90px;
}

h1 span:nth-child(1){
  color: rgb(66 133 244);
}

h1 span:nth-child(2){
  color: rgb(234 67 53);
}

h1 span:nth-child(3){
  color: rgb(251 188 5);
}

h1 span:nth-child(4){
  color: rgb(66 133 244);
}

h1 span:nth-child(5){
  color: rgb(52 168 83);
}

h1 span:nth-child(6){
  color: rgb(66 133 244);
}

.search-bar{
  width: 500px;
}
